*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/compiler.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/misc.xml
/.idea/inspectionProfiles/Project_Default.xml
.idea/artifacts
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/modules.xml
.idea/*.iml
.idea/modules
/.intellijPlatform/
.idea/runConfigurations.xml
*.iml
*.ipr
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/vcs.xml
/tmp
