.container {
    width: 95%;
    max-width: 1440px;
}

h3 {
    color: orange;
}

a, .menu {
    color: white;
}

th a, td a {
    display: block;
    color: black;
}

.material-icons {
    color: #29b6f6;
}

.us {
    color: #ffcc80;
}

#imageBottomSheet {
    max-height: 100%;
    top: 15%;
}

#modalImage {
  max-width: 100%;
}
