name: diff test

on:
  push

env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx6g -Dorg.gradle.daemon=false -Dkotlin.incremental=false"

jobs:
  test:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3.9.0
        with:
          distribution: 'zulu'
          java-version: 19

      - uses: dawidd6/action-download-artifact@v2
        with:
          name: screenshots
          path: app/build/outputs/roborazzi
          workflow: test.yaml
          branch: main
      - name: test
        run: |
          ./gradlew roborazzi-gradle-plugin:build --stacktrace
          ./gradlew app:verifyRoborazziDebug --stacktrace
      - uses: actions/upload-artifact@v3
        with:
          name: screenshot-diff
          path: app/build/outputs/roborazzi
          retention-days: 30

      - uses: actions/upload-artifact@v3
        with:
          name: screenshot-diff-reports
          path: app/build/reports
          retention-days: 30
