name: plain-tests

on:
  push:
    branches:
      - main
  pull_request:

env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx6g -Dorg.gradle.daemon=false -Dkotlin.incremental=false"

jobs:
  test:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      - uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # v3.13.0
        with:
          distribution: 'zulu'
          java-version: 19

      - name: Gradle cache
        uses: gradle/gradle-build-action@a8f75513eafdebd8141bd1cd4e30fcd194af8dfa # v2

      - name: tests
        id: test
        run: |
          ./gradlew test --stacktrace -x testReleaseUnitTest

      - name: include build tests
        id: include-build-test
        run: |
          cd include-build
          ./gradlew test jvmTest --stacktrace -x testReleaseUnitTest

      - uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4
        if: ${{ always() }}
        with:
          name: tests-reports
          path: |
            **/build/reports
            **/build/outputs/roborazzi
          retention-days: 30
