name: plain-tests

on:
  push:
    branches:
      - main
  pull_request:

env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx6g -Dorg.gradle.daemon=false -Dkotlin.incremental=false"

permissions:
  contents: read

jobs:
  test:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      - uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # v3.13.0
        with:
          distribution: 'zulu'
          java-version: 19

      - name: Gradle cache
        uses: gradle/actions/setup-gradle@748248ddd2a24f49513d8f472f81c3a07d4d50e1 # v4.4.4

      - name: tests
        id: test
        run: |
          ./gradlew javaDocReleaseGeneration
          ./gradlew test --stacktrace -x testReleaseUnitTest

      - name: include build tests
        id: include-build-test
        run: |
          cd include-build
          ./gradlew test jvmTest --stacktrace -x testReleaseUnitTest

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        if: ${{ always() }}
        with:
          name: tests-reports
          path: |
            **/build/reports
            **/build/outputs/roborazzi
          retention-days: 30
